ServerConnection.class
server.jks
trustedcerts.txt
history.txt
keystore_pword.txt
Server$.class
Server$$anonfun$main$1.class
Server.class
Client.scala~
User.scala~
User.class
ClientConnection.scala~
Client$$anonfun$main$1.class
Client$.class
ClientConnection.class
Client.class
JsonParser.scala~
JsonParser.class
